/* styles.css */

.container {
    /* display: flex; */
    align-items: center; 
    /* border: 1px solid red;  */
    /* padding: 5px;  */
}
  
.imagee {
    /* border-right: 1px solid red;  */
    width: 579px;
    height: 600px;
    
}
  
.imagee img {
    height: 305px;
    width: 312px;
}
  
.data {
    margin-left: 500px; 
    height: 400px; 
    width: 461px; 
    margin-top: -600px;
  }
  