.col {
  border: 2px solid rgb(27, 15, 190);
  width: 200px;
  height: 258px;
  display: inline-flex;
  margin-right: 50px;
  margin-bottom: 17px;
}

img{
  width: 212px;
  height:227;
}
.row {
  /* border: 2px solid #f32929; */
  width: 98%;
  height: 271px;
  margin:0px 0px 0px 17px;
  padding-left: 77px;
  padding-top: 29px;
}





