#category{
    width: auto;
    border-radius: 8px;
    margin:auto;
}

.product{
    width:305px;
    height:403px;
    border-radius: 5px;
    border: 1px solid lightgrey;   
}

#image{
    width:305px;
    height:312px;
    border-radius:8px;
}