#product{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#mens_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#womans_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

.image{
    height:44px;
    width:321px;
    margin-left:  275px;
    color:lightgrey;
}

#text{
    color:blue;
    font-family:Inika;
 } 