#electronics{
    color:blue;
    margin-left:20px;
    font-family:Inika;
    text-decoration:none;
}

#jewellery{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#mens_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#womans_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

.image{
    height:44px;
    width:321px;
    margin-left:  275px;
    color:lightgrey;
}

#cart{
    color:blue;
    font-family:Inika;
 } 


#navbar{
    width:1280px;
    margin: auto;
    /* border: 1px solid red; */
}