#electronics{
    color:blue;
    margin-left:20px;
    font-family:Inika;
    text-decoration:none;
}

#jewellery{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#mens_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

#womans_cloths{
    color:blue;
    font-family:Inika;
    text-decoration:none;
}

.image{
    height:44px;
    width:321px;
    margin-left:  850px;
}

#cart{
    color:blue;
    font-family:Inika;
 } 


