.carousel{
    border: solid #3F0DA9;
    background-color: #3F0DA9; 
    width:1280px;
    padding: 68px 0px; 
    height:143px;
    border-radius: 12px 0px 0px 12px;


}
.text{
    color:#FBE9A9
}
.text_1{
    color:#FBE9A9

}
.category{
    margin:60px;
    color: #E5E1DA;

}
#container{
    width: 100%;
    margin-top: 130px;
    margin-bottom: 90px;

    
}


.electronics_image{
    border:solid #E5E1DA;
    border-radius: 8px;
    width: 305px;
    height: 312px;
    



}
#image{
    width:305px;
    height:312px;
    border-radius:8px;


}
#sidebar{
    border:solid 2px blueviolet;
    width:254px;
    height: 824px;
}
#list_home{
    border: solid 2px red;
    width: 971px;
    height: 824px;
}